.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 620px;


  border-top: 7px solid #ff5357;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: white;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 200px;
}

.pop-up.goods-in-basket {
  align-items: flex-start;
  height: 275px;
}

.close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px;
}

/*ниже стили блока main*/

.container-catalog {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;

  font-size: 14px;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  padding: 15px 25px;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;

  width: 100%;
  min-height: 89px;
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-size: 30px;
  max-width: 910px;
}

.block-catalog {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  max-width: 940px;
}

.breadcrumbs-div {
  width: 940px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 750px;
}

.mark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-family: "Cuprum", monospace;
  font-size: 30px;
  padding: 48px 0px 49px 81px;
}

.mark svg {
  padding-right: 32px;
}

.mark p {
  margin: 0px;
}

.button-mark {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  width: 100%;
  background-color: #f1f1f1;
  min-height: 112px;
}

.button-mark button:first-of-type {
  width: 220px;
  height: 38px;
  margin: 37px 20px 37px 0px;
}

.button-mark button:last-of-type {
  width: 220px;
  height: 38px;
  margin: 37px 0;
}

.red-button {
  background-color: #ee3643;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
}

.red-button:hover {
  background-color: #ca2c37;
}

.grey-button {
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.filters-in-catalog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.filters-in-catalog ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  padding-left: 140px;
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
  padding: 15px 0;
}

.breadcrumbs li:not(:last-child):after {
  content: "";

  position: absolute;

  width: 7px;
  height: 12px;

  top: 21px;
  right: -17px;
  background-image: url(../img/svg/icon-right-small.svg);
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item-old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}
.catalog-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.catalog-item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .in-marker {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .in-marker {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.filters h2 {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  margin: 0;
  padding-left: 18px;
}

.filters-in-catalog {
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.filters-in-catalog li {
  padding-right: 65px;
}

article .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

article .flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-size: contain;
}
