.top-main * {
  margin: 0;
}

.about-company {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;

  width: 540px;
  min-height: 370px;
  padding-right: 100px;
  padding-top: 82px;
}

.map-and-contact {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;

  min-height: 370px;
  width: 300px;
  padding-top: 82px;
}

.map-and-contact p {
  margin: 0;
}

.transport-companies a {
  color: #000000;
  font-size: 18px;
}

.transport-companies a:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: 0;
  bottom: 11px;
}

.transport-companies {
  font-size: 18px;
  padding: 0;
}

.transport-companies li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 36px;
}

.head-line-about-company,
.contacts-map{
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.button.callback-link{
  width: 300px;
}

.about-company p,
.map-and-contact p {
  font-size: 13px;
}

.pop-up.letter {
  height: 430px;
}

.pop-up.goods-in-basket {
  align-items: flex-start;
  height: 275px;
}

.letter-from-the-client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 620px;
  font-size: 13px;
  padding-top: 45px;
}

.youre-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.youre-name label {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.youre-name-label {
  padding-left: 80px;
}

.youre-e-mail-label {
  padding-right: 80px;
}

.youre-name input {
  height: 35px;
  padding-left: 15px;
}

.to-send {
  width: 460px;
  height: 38px;
}

.label-massege {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  width: 460px;
}

.label-massege textarea {
  height: 110px;
  padding-left: 15px;
  padding-top: 10px;
  resize: none;
}

.pop-up-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #f4f4f4;
  width: 100%;
  min-height: 110px;
  margin-top: 35px;
}

.pop-up-button button {
  width: 460px;
  height: 40px;
  padding: 0;
  font-size: 14px;
}

.close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px;
}

.red-button {
  background-color: #ee3643;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
}

.red-button:hover {
  background-color: #ca2c37;
}

.pop-up{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 620px;

  border-top: 7px solid #ff5357;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: white;

  position: relative;
  left: 50%;
  transform: translate(-50%);
  bottom: 630px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.map-section {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 940px;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: white;

  position: relative;
  left: 50%;
  transform: translate(-50%);
  bottom: 800px;
}

.pop-up-show {
  display: flex;

  animation: bounce 0.6s;
}


.letter-from-the-client input[type="text"],
.label-massege textarea {
  border: 2px solid #d7dcde ;
  border-radius: 2px;
  outline: none;
}

.letter-from-the-client input[type="text"]:hover,
.label-massege textarea:hover {
  border: 2px solid #b5b5b5 ;
  border-radius: 2px;
  outline: none;
}

.letter-from-the-client input[type="text"]:focus,
.label-massege textarea:focus {
  border: 2px solid #ee3643 ;
  border-radius: 2px;
}

.map-link {
  cursor: pointer;
}






.service-color {
  display: flex;
  justify-content: center;
  min-height: 522px;
  background-color: #f4f7f9;
}

.service {
  display: flex;
  flex-direction: column;
  width: 940px;
}

.service-header h2 {
  font-size: 30px;
  text-transform: uppercase;
}
.service-header p,
.service-footer p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', sans-serif;
}
.service-footer p {
  max-width: 380px;
}
.service-footer h3 {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}


.service-parameter div {
  width: 630px;
  max-height: 185px;
}


.delivery,
.guarantee,
.credit {
  display: none;
}

.active {
  display: block;
}

.service-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.service-parameter img {
  position: relative;
  top: -150px;
  left: 150px;
}

.service-main {
  width: 240px;
  height: 280px;
  padding-top: 70px;
}

.service-main img {
  position: relative;
  left: 230px;
  bottom: 230px;
}

.service-main ul {
  padding: 0;
  margin: 0;
}

.service-active {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 240px;
  min-height: 61px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.service-active:active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}
.service-active:active > a {
  color: #32425c;
}

.selected {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.serv {
  width: 100%;
  height: 100%;
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  padding: 20px 140px 17px 22px;
}

.sel {
  color: #32425c;
}

/*Гриды*/
.reclame {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 125px);

  padding-top: 60px;
}
.materials {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #ffbf47;
}
.tool {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #3bbce3;
}
.technique {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #dc91d8;
}
.drills {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  top: 72px;
}
.sale {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: #8ed78f;
}
.reclame-delivery {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #ffc047;
}

.materials,
.tool,
.technique,
.sale,
.reclame-delivery {
  width: 300px;
  height: 123px;
}

.drills {
  width: 620px;
  height: 268px;
}

.drills img {
  position: absolute;
  top: 0px;
  z-index: -1;
}

.reclame-block h3 {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-left: 23px;
  margin-top: 26px;
}

.reclame-button {
  width: 135px;
  height: 38px;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 25px;
}

.reclame-button:hover {
  background-color: rgba(0,0,0,0.2);
}

.reclame-block a {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 38px;
}

.reclame-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.reclame-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.drills .red-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 38px;
}

.drills .red-button:hover {
  background-color: #ca2c37;
}

.drills-block h2 {
  height: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 27px;
  padding-left: 24px;
}

.drills-block p {
  height: 17px;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
  padding-left: 24px;
}

.drills a {
  position: relative;
  left: 25px;
  bottom: -124px;
}

.next {
  position: relative;
  left: 25px;
  top: 0;
}

.previous {
  position: relative;
  right: -575px;
  top: -47px;
}

.drills-drills,
.drills-perf {
  height: 115px;
}

.circle1,
.circle2 {
  display: block;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle1 {
  position: relative;
  left: 295px;
  bottom: -10px;
}

.circle2 {
  position: relative;
  left: 315px;
  bottom: 0;
}

.circle3 {
  display: block;
  background-color: #ee3643;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #ffffff;

  position: relative;
  left: 295px;
  bottom: 10px;
}
