body {
  font-family: 'Cuprum', sans-serif;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

/*body > * { background: rgba(255, 0, 0, 0.3); }*/
/*body > * > * { background: rgba(255, 255, 0, 0.3);}*/
/*body > * > * > * { background: rgba(0, 0, 255, 0.3); }*/
/*body > * > * > * > * { background: rgba(0, 255, 255, 0.3); }*/

a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
  width: 100%;
  height: 320px;
  opacity: 0.9;
}

.site-navigation a,
.main-navigator a {
  color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;

  background-color: #293449;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 0 10px;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 940px;
}

.marker:hover,
.basket:hover {
  background-color: #212a3a;
}
.index {
  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  width: 220px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}
.index:hover {
  background-color: #ca2c37;
}

.search {
  display: inline-block;
  width: auto;
  line-height: 42px;
  text-align: center;
}
.marker,
.basket {
  display: inline-block;
  line-height: 42px;
  text-align: center;
}
.checkout {
  display: inline-block;
  background-color: #63a63e;
  line-height: 42px;
  text-align: center;
}
.checkout:hover {
  background-color: #5fbb2d;
}

.main-navigator {
  width: 940px;
  font-size: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin: 0 auto;
}

.main-navigator li {
  display: inline-block;
  padding: 22px 30px 26px;
}

.main-navigator li:hover,
.main-navigator li:focus {
  background-color: #293449;
}

li {
  list-style: none;
}

.head-line {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.phone {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #e9292a;
}

.contacts a {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 13px 52px 11px 74px;
}

.adress {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #32425c;
}

.user-navigation li:first-child,
.user-navigation li:last-child {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.user-navigation a {
  color: #000000;
}

.about-company {
  width: 519px;
  height: 293px;
}

.head-line-about-company,
.contacts-map{
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
}

.about-company p,
.map-and-contact p {
  font-size: 13px;
}

.transport-companies {
  font-size: 18px;
}


.footer-up {
  background-color: #32425c;
  color: #ffffff;
}

.footer-down {
  background-color: #293449;
  color: #ffffff;
}

.footer-down a,
.footer-up a {
  color: #ffffff;
}

div a {
  color: #ffffff;
  font-size: 14px;
}

.main-navigator-footer2 a,
.footer-copyright a {
  color: #ffd180;
}

.button {
  background-color: #ee3643;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 38px;
}

.button.callback-link{
  width: 300px;
}
