body {
  font-family: 'Cuprum', sans-serif;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

/*body > * { background: rgba(255, 0, 0, 0.3); }*/
/*body > * > * { background: rgba(255, 255, 0, 0.3);}*/
/*body > * > * > * { background: rgba(0, 0, 255, 0.3); }*/
/*body > * > * > * > * { background: rgba(0, 255, 255, 0.3); }*/

a {
  text-decoration: none;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7f9;
  width: 100%;
  height: 320px;
}

.site-navigation a,
.main-navigator a {
  color: #ffffff;
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;

  width: 100%;
  background-color: #293449;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 0 10px;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: inherit;
  width: 100%;
  max-width: 940px;
}

.marker:hover,
.basket:hover {
  background-color: #212a3a;
}
.index {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  text-transform: uppercase;
  font-size: 19px;
  width: 220px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-bottom: -5px
}
.index:hover {
  background-color: #ca2c37;
}
.container form {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  position: relative;
  margin: 0 auto;
}

form input {
  border: none;
  outline: none;
  background: transparent;
}

.form-search {
  width: 270px;
}

.search {
  width: 100%;
  height: 42px;
  padding-left: 49px;
  font-size: 17px;

}

.search-button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: none;
  border: none;
}

nav path,
nav circle {
  fill: rgba(255, 255, 255, 0.3);
}

form input:focus + .search-button path {
  fill: #ee3643;
}

form input:focus {
  background-color: #ffffff;
}

.marker,
.basket {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  width: 150px;
  line-height: 42px;
  text-align: center;
  font-size: 17px;
}

.marker svg,
.basket svg {
  padding: 13px 13px 13px 0px;
}

.checkout {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  width: 150px;
  background-color: #63a63e;
  line-height: 42px;
  text-align: center;
  font-size: 17px;
}
.checkout:hover {
  background-color: #5fbb2d;
}

.top-header {
  display: flex;
  width: 940px;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 43px;
  margin: 0 auto;
}

.head-line {
  display: flex;
  height: 60px;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
  padding: 0 52px;
  margin: 0;
}

.top-header .contacts {
  display: flex;
  height: 60px;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  width: 270px;
}

.contacts .phone {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 8px 0;
}

.phone {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #e9292a;
}

.phone span {
  padding: 13px 40px 13px 16px;
}

.adress {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

.user-navigation {
  display: flex;
  width: 300px;
  height: 60px;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  margin: 0px;
  padding: 0px;
}

.entry-out {
  max-width: 300px;
  max-height: 45px;
  line-height: 45px;
}

.in-down {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  padding: 0px;
  margin: 0px;
}

.user-navigation.out li,
.user-navigation.in {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;

  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;

  height: 45px;
}

.user-navigation.in {
  flex-direction: column;

}

.entry {
  padding-right: 10px;
}

.login-link svg {
  padding: 14px;
}

.login-link {
  display: flex;
  flex-direction: row;
  line-height: 45px;
  padding-right: 27px;
  vertical-align: middle;
  font-family: Cuprum;
  font-size: 21px;
  color: black;
  background-color: white;
  text-align: center;
}

.check-in-link {
  padding: 11px 25px;
  font-size: 21px;
  color: black;
  background-color: white;
  text-align: center;
}

.login-link:hover,
.check-in-link:hover,
.login-link:hover path {
  color: #ee3643;
  fill: #32425c;
}

.user-navigation a {
  color: #000000;
}

.main-navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  max-width: 900px;
  height: 60px;
  font-size: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigator li {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-navigator-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 29px;
}

.main-navigator li:hover,
.main-navigator li:focus {
  background-color: #293449;
}

li {
  list-style: none;
}

.top-main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;

  padding-bottom: 86px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.main-navigator-footer a:hover,
.main-navigator-footer2 a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #32425c;
  color: #ffffff;
  width: 100%;
}

.top-footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  width: 940px;
  padding: 0 10px;
}

.main-navigator-footer,
.main-navigator-footer2{
  display: flex;
  flex-direction: row;
}

.main-navigator-footer li,
.main-navigator-footer2 li {
  margin-left: 60px;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 940px;
  padding: 0 10px;
}

.footer-down {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  background-color: #293449;
  color: #ffffff;
  width: 100%;
}

.footer-copyright-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
}

.bottom-footer-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer-rights {
  font-size: 16px;
  padding-top: 35px;
  margin: 0;
}

.footer-adress address{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  color: white;
}

.footer-down a,
.footer-up a {
  color: #ffffff;
}

div a {
  color: #ffffff;
  font-size: 14px;
}

.main-navigator-footer2 a,
.footer-copyright a {
  color: #ffd180;
}

.button {
  line-height: 38px;
  width: 220px;
  text-align: center;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 28px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;

  vertical-align: middle;
  background-color: #212a3a;

}

.social:hover {
  background-color: #ee3643;
}

.footer-copyright {
  padding-top: 35px;
  margin: 0;
}


/*стили карточек торвара*/
.catalog-list,
.manufacturers-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0;
  margin-left: 20px;
  max-width: 960px;

}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item-old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item-price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .in-marker {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .in-marker {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.reclame,
.popular-product,
.popular-manufacturers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popular-header {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  text-transform: uppercase;

}

.popular-header h2 {
  padding: 33px 0px 35px 30px;
  margin: 0;
}

.popular-header button {
  height: 38px;
  width: 253px;
  margin: 25px 24px 26px 0px;
}

.manufacturers-list li {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.label-logo {
  height: 100%;
}

.label-logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.service-color {
  display: flex;
  justify-content: center;
  min-height: 522px;
  background-color: #f4f7f9;
}

.service {
  display: flex;
  flex-direction: column;
  width: 940px;
}

.service-header h2 {
  font-size: 30px;
  text-transform: uppercase;
}
.service-header p,
.service-footer p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans', sans-serif;
}
.service-footer p {
  max-width: 380px;
}
.service-footer h3 {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}


.service-parameter div {
  width: 630px;
  max-height: 185px;
}

.service-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.service-parameter img {
  position: relative;
  top: -150px;
  left: 150px;
}

.service-main {
  width: 240px;
  height: 280px;
  padding-top: 70px;
}

.service-main img {
  position: relative;
  left: 230px;
  bottom: 230px;
}

.service-main ul {
  padding: 0;
  margin: 0;
}

.service-main li {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 240px;
  min-height: 61px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.service-main button {
  background: none;
  border: none;

  width: 100%;
  height: 100%;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;
}
